[submodule "kde"]
	path = kde
	url = git@github.com:Raesangur/dotfiles_kde.git
[submodule "btop"]
	path = btop
	url = git@github.com:Raesangur/dotfiles_btop.git
[submodule "terminology"]
	path = terminology
	url = git@github.com:Raesangur/dotfiles_terminology.git
[submodule "neofetch"]
	path = neofetch
	url = git@github.com:Raesangur/dotfiles_neofetch.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:Raesangur/dotfiles_zsh.git
[submodule "vim"]
	path = vim
	url = git@github.com:raesangur/dotfiles_vim.git
[submodule "dotfiles_emacs"]
	path = dotfiles_emacs
	url = git@github.com:Raesangur/dotfiles_emacs.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:Raesangur/dotfiles_emacs.git
